@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Playfair+Display:ital,wght@1,400;1,900&family=Signika:wght@500&family=Ubuntu:ital,wght@0,300;0,400;1,400&display=swap');

.layout_padding {
  padding: 50px 0;
}


.doctor_section .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
     -webkit-box-orient: vertical; 
     -webkit-box-direction: normal; 
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: hidden;
    margin-top: 40px;
    border-radius: 10px;
    overflow: hidden;   
    background: #ffffff; 
   } 

   .row{

      margin-left: -50px;
      margin-right: -40px;
   }

   .doctor_section .box .detail-box {
    width: 100%;
    padding: 25px 15px;
    text-align: center;
    position: relative;
  }
  .doctor_section .box .detail-box .social_box {
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 150%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
  }

  .fa{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
  .doctor_section .btn-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 45px;
  }
  
  .doctor_section .btn-box a {
    display: inline-block;
    padding: 10px 45px;
    background: linear-gradient(135deg,#71b7e6,#60aee2);
     color: #ffffff; 
    border-radius: 5px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  .doctor_section .btn-box a:hover {
    
    background: linear-gradient(-135deg, #71b7e6,#9b59b6);
  }
   

  

p{

   color: #000;
}
