@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Playfair+Display:ital,wght@1,400;1,900&family=Signika:wght@500&family=Ubuntu:ital,wght@0,300;0,400;1,400&display=swap');

.mainContainer{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 90vh;
  background-color: #fff;
  background: url('/public/bacdoc.jpg');
  background-size: 100% 100%;
}

.docpic img{
  width: 10rem;
  height: 15rem;
}

.description{
  background-color: #a8c4f5aa;
  width: 100%;
  color: #0c3a8a;
 margin: 3rem 2rem 2rem 8rem;
  height: 85%;
  display: flex;
  flex-direction: column;
 align-items: center;
  border-radius: 1rem;
}

.docpic{
  width: 100%;
}

.description p{
  width: 80%;
  margin-top: 1rem;
  font-size: large;
  font-weight: 300;
  font-size: 1.5rem;
  
}

.description h1{
  margin-top:2rem;
  font-weight: 300;
}

.rbtn{
  background-color: #0c3a8a;
  color: #fff;
  padding:.5rem .5rem .5rem .5rem ;
  border-radius: .5rem;
  width: 10rem;
  cursor: pointer;
}